/* Bootstrap */
@import url(libs/bootstrap/css/bootstrap.min.css);

/* FontAwesome */
@import url(libs/components-font-awesome/css/font-awesome.min.css);

/* Theme sass styles */
@import url(libs/css/theme_styles.min.css);

@import url(../base/style.css);

#site-title img {
  left:-22px;
  position:absolute;
  top:-30px;
}

#title-bar {
  background-color: gray;
}
#title-bar h1 {
  color: white;
}
#chat-window {
  background: white;
}
#buddy-list #environment-logo {
  background-color: #BBB;
}
