/* Noosfero core and Cube Bootstrap styles Overrides/Customizations */

#theme-header {
  min-height: 20px !important;
  height:100% !important;
}

.navbar >.container .navbar-brand {
  width:165px !important;
}
